/* Estilos generales de la página */
body {
  font-family: "Nunito", sans-serif; /* Fuente global de Google Fonts */
  background: linear-gradient(
    45deg,
    #3498db,
    #2ecc71,
    #2980b9,
    #e74c3c,
    #9b59b6
  );
  background-size: 400% 400%;
  animation: gradient 15s infinite alternate;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* Animación de los colores de fondo */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Estilos para el contenedor principal */
.main {
  width: 70%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Estilos para el título */
.title {
  font-size: 36px;
  color: white;
}

/* Estilos para el contenedor de botones */
.buttons-container {
  margin-top: 20px;
}

/* Estilos para los botones */
button {
  margin: 0 10px;
  padding: 20px 40px;
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(
    45deg,
    #3498db,
    #2ecc71,
    #2980b9,
    #e74c3c,
    #9b59b6
  );
  background-size: 400% 400%;
  animation: gradient 15s infinite alternate;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efecto de elevación al pasar el mouse */
button:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .buttons-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 10px 0;
    width: 100%;
  }
}

/* Estilos para el contenedor de la cola de procesos */
.queue-container {
  margin-top: 30px;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  padding: 20px 0;
  max-height: 385px;
  scroll-behavior: smooth;
}

/* Estilos para la barra de desplazamiento */
.queue-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.queue-container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.queue-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Estilos para los procesos en la cola */
.process {
  width: 120px;
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 24px;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

/* Estilo para el icono de Font Awesome */
.process i {
  font-size: 40px;
}

/* Estilo para el texto (ID) dentro de los procesos */
.process span {
  font-size: 16px;
  margin-top: 8px;
  color: #333;
}

/* Efecto de elevación al pasar el mouse */
.process:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
